<%- include('../partials/header') %>

<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
  <div class="container-fluid py-1 px-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
        <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Import</li>
      </ol>
      <h6 class="font-weight-bolder mb-0">Import</h6>
    </nav>
    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
      <div class="ms-md-auto pe-md-3 d-flex align-items-center">
        <div class="input-group input-group-outline">
          
          <input type="text" class="form-control" id="search-query">
          <button class="btn btn-outline-primary btn-sm mb-0 me-3" onclick="searchData()">Search</button>
        </div>
      </div>
      <ul class="navbar-nav  justify-content-end">
        <li class="nav-item d-flex align-items-center" id="user-menu">
          <!-- Khi người dùng đã đăng nhập -->
          <a href="" class="nav-link text-body font-weight-bold px-0" id="user-info">
            <i class="fa fa-user me-sm-1"></i>
            <span id="user-name" class="d-sm-inline d-none">User Name</span>
          </a>
          <a href="">|</a>
          <a href="/login" class="nav-link text-body font-weight-bold px-0" id="logout-link">
            <i class="fa fa-sign-out me-sm-1"></i>
            <span class="d-sm-inline d-none Sign-out">Sign Out</span>
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>


<div class="container-fluid py-4">

  <div class="row mb-4">
    <div class="">
      <div class="card">
        <div class="card-header pb-0">
          <div class="row">
            <div class="col-lg-6 col-7">
              <h6>Total Quantity :</h6>
             
                
                <span class="font-weight-bold ms-1"> </span>  Sản phẩm
             
            </div>
            <div class="col-lg-6 col-5 my-auto text-end">
            
            </div>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
          
          <div class="table-responsive">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-center text-uppercase text-white text-xxs font-weight-bolder opacity-7">ID</th>
                  <th class="text-center text-uppercase text-white text-xxs font-weight-bolder opacity-7">Epicor</th>
                  <th class="text-center text-uppercase text-white text-xxs font-weight-bolder opacity-7">Name</th>
                  <th class="text-center text-uppercase text-white text-xxs font-weight-bolder opacity-7">Manufacturer</th>
                  <th class="text-center text-uppercase text-white text-xxs font-weight-bolder opacity-7">POCode</th>
                  <th class="text-center text-uppercase text-white text-xxs font-weight-bolder opacity-7">QuantityTotal</th>
                  <th class="text-center text-uppercase text-white text-xxs font-weight-bolder opacity-7">Inputer</th>
                  <th class="text-center text-uppercase text-white text-xxs font-weight-bolder opacity-7">DateInput</th>
                  <th class="text-center text-uppercase text-white text-xxs font-weight-bolder opacity-7">DateUpdate</th>
                </tr>
              </thead>
              <tbody id="inventory-list">
                <!-- Nội dung hàng hóa sẽ được điền bằng AJAX -->
              </tbody>
            </table>
          </div>
          
          <!-- Pagination -->
          
          </div>
        <div class="container large">
          <div id="pagination" class="pagination">
           
          </div>
        </div>
              
        
      </div>

        <!-- switch 1-2-3 -->   
      <div class="import-form">
        <label for="text" class="titleimport">PLEASE SELECT INPUT METHOD</label> 

        <div class="switch-container">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="switch1">
            <label class="form-check-label" for="switch1">Manual input</label>
          </div>
        
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="switch2">
            <label class="form-check-label" for="switch2">QRCode/Barcode</label>
          </div>
        
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="switch3">
            <label class="form-check-label" for="switch3">RFID</label>
          </div>
        </div>

        <form id="form1" method="post" action="/import">
          <div class="row mb-4">
          <div class="form-group">
              <label for="epicor" class="form-label">EPICOR</label>
              <input type="text" class="form-control" id="epicor" name="epicor" placeholder="Enter Epicor" required>
          </div>
          
          <div class="col-lg-6 col-md-2 mb-md-0 mb-2">
            <div class="form-group">
                <label for="vnname" class="form-label">VNNAME</label>
                <input type="text" class="form-control" id="vnname" name="vnname" placeholder="Enter VNName" required>
            </div>
            <div class="form-group">
                <label for="name" class="form-label">NAME</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name" required>
            </div>
            <div class="form-group">
                <label for="manufacturer" class="form-label">MANUFACTURER</label>
                <input type="text" class="form-control" id="manufacturer" name="manufacturer" placeholder="Enter Manufacturer" required>
            </div>
          </div>

          <div class="col-lg-6 col-md-2 mb-md-0 mb-2">
            <div class="form-group">
                <label for="pocode" class="form-label">POCODE</label>
                <input type="text" class="form-control" id="pocode" name="pocode" placeholder="Enter POCode" required>
            </div>
            <div class="form-group">
                <label for="quantityTotal" class="form-label">QUANTITY TOTAL</label>
                <input type="number" class="form-control" id="quantityTotal" name="quantityTotal" placeholder="Enter Quantity" required>
            </div>
            <div class="form-group">
                <label for="inputer" class="form-label">INPUTER</label>
                <input type="text" class="form-control" id="inputer" name="inputer" placeholder="Enter Inputer" required>
            </div>
          </div>
          
          <button type="submit" class="btn btn-primary">Import</button>
        </div>
        </form>
      
        <form id="form2" method="post" action="/import">
          <h1 style="text-align: center;">QR Code Scanner</h1>
          <video id="video-preview" playsinline></video>
          <p id="result">QR Code Data: </p>
        </form>
      
        <form id="form3">
          <h1>Form 3</h1>
          <!-- Các trường form của bạn ở đây -->
        </form>

        <!-- --------------------------------- --> 
      </div>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>